@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.root {
    -fx-background-color: #ffffff; /* Clean white background */
    -fx-font-family: 'Poppins', sans-serif;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #17376e;
    -fx-font-weight: Bold;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14px;
    -fx-border-color: #17376e;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px 5px 50px; /* Set left padding to 45px */
    -fx-alignment: CENTER_LEFT; /* Align text to the left */
}

.button:hover {
    -fx-background-color: #1f5db9;
    -fx-text-fill: #ffffff;
    -fx-border-color: #17376e;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 0);
    -fx-padding: 5px 10px 5px 50px; /* Set left padding to 45px */
    -fx-alignment: CENTER_LEFT; /* Align text to the left */
}

.button2 {
    -fx-background-color: #17376e;
    -fx-text-fill: #ffffff;
    -fx-font-weight: Bold;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-border-color: #17376e;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-alignment: CENTER;
}

.button2:hover {
    -fx-background-color: #1f5db9;
    -fx-text-fill: #ffffff;
    -fx-border-color: #17376e;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 0);
    -fx-padding: 10px; /* Set left padding to 45px */
    -fx-alignment: CENTER; /* Align text to the left */
}

.button3 {
    -fx-background-color: #f8f8f8; /* Màu nền mặc định */
    -fx-text-fill: #17376e; /* Màu chữ xanh đậm cho dễ nhìn */
    -fx-border-color: #c0c0c0; /* Màu viền */
    -fx-border-radius: 0 20px 20px 0; /* Bo góc phải */
    -fx-background-radius: 0 20px 20px 0; /* Bo góc phải */
    -fx-padding: 8px 12px; /* Padding giống với search-text-field */
    -fx-alignment: CENTER; /* Căn giữa chữ */
}

.button3:hover {
    -fx-background-color: #f8f8f8; /* Màu nền khi hover */
    -fx-text-fill: #17376e; /* Màu chữ xanh đậm cho dễ nhìn */
    -fx-border-radius: 0 20px 20px 0; /* Bo góc phải */
    -fx-border-color: #17376e; /* Màu viền */
    -fx-background-radius: 0 20px 20px 0; /* Bo góc phải */
    -fx-padding: 8px 12px; /* Padding giống với search-text-field */
    -fx-alignment: CENTER; /* Căn giữa chữ */
}

.button4 { /* Tab button */
    -fx-background-color: transparent; /* Transparent background */
    -fx-text-fill: #17376e; /* Text color */
    -fx-font-weight: Bold;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14px;
    -fx-border-color: transparent; /* No border */
    -fx-padding: 5px 10px; /* Padding */
    -fx-alignment: CENTER; /* Center align text */
}

.button4:hover {
    -fx-background-color: #1f5db9; /* Blue background on hover */
    -fx-text-fill: #ffffff; /* White text on hover */
    -fx-border-color: transparent; /* No border */
}

.button5 { /* Transparent button */
    -fx-background-color: transparent; /* Transparent background */
    -fx-text-fill: #17376e; /* Text color */
    -fx-font-weight: Bold;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14px;
    -fx-border-color: transparent; /* No border */
    -fx-padding: 5px 10px; /* Padding */
    -fx-alignment: CENTER; /* Center align text */
}

.button5:hover {
    -fx-background-color: transparent; /* Transparent background */
    -fx-text-fill: #17376e; /* Text color */
    -fx-font-weight: Bold;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14px;
    -fx-border-color: transparent; /* No border */
    -fx-padding: 5px 10px; /* Padding */
    -fx-alignment: CENTER; /* Center align text */
}

.button6 {
    -fx-background-color: transparent;
    -fx-text-fill: #17376e;
    -fx-font-weight: Bold;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14px;
    -fx-border-color: #17376e;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-alignment: CENTER;
}

.button6:hover {
    -fx-background-color: #1f5db9;
    -fx-text-fill: #ffffff;
    -fx-border-color: #17376e;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 0);
    -fx-padding: 5px;
    -fx-alignment: CENTER;
}

.book-name-text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-text-fill: #17376e;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: 'Poppins', sans-serif;
}

.book-name-text-field:hover {
    -fx-border-color: #17376e;
}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #b9b9b9;
    -fx-border-radius: 4px;
    -fx-padding: 1px 1px 1px 10px;
    -fx-text-fill: #000000;
    -fx-font-family: 'Poppins', sans-serif;
}


.text-field:hover, .password-field:hover {
    -fx-border-color: #17376e;
}

.label1 {
    -fx-text-fill: #000000;
    -fx-font-family: 'Poppins', sans-serif;
}

.label2 {
    -fx-text-fill: #17376e;
    -fx-font-family: 'Poppins', sans-serif;

    -fx-font-weight: Bold;
}

.labelHeader {
    -fx-text-fill: #17376e;
    -fx-font-size: 20px;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: Bold;
}

.label3 {
    -fx-text-fill: #ffffff;
    -fx-font-weight: Bold;
    -fx-font-family: 'Poppins', sans-serif;
}

.search-text-field { /*center top search bar*/
    -fx-background-color: #ffffff;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 20px 0 0 20px; /* Apply border-radius only to the right corners */
    -fx-padding: 8px 60px 10px; /* Adjust padding to fit the new border-radius */
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: 'Poppins', sans-serif;
}

.search-text-field:hover {
    -fx-border-color: #17376e;
}

.search-text-field2 {
    -fx-background-color: #ffffff;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 5px; /* Apply border-radius only to the right corners */
    -fx-border-color: #17376e;
    -fx-padding: 5px; /* Adjust padding to fit the new border-radius */
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: 'Poppins', sans-serif;
}

.search-text-field2:hover {
    -fx-border-color: #17376e;
}


.scroll-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #17376e;
    -fx-border-radius: 4px;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #ffffff;
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #17376e;
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
}

.book-view-card {
    -fx-background-color: #ffffff;
    -fx-border-width: 3px;
    -fx-border-color: #17376e;
    -fx-border-radius: 5px;
    -fx-spacing: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-font-family: 'Poppins', sans-serif;
}

.book-view-card .book-image {
    -fx-fit-width: 80px;
    -fx-fit-height: 100px;
    -fx-border-radius: 5px;
}

.book-view-card .book-author {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #f1f1f1;
    -fx-border-radius: 4px;
    -fx-font-family: 'Poppins', sans-serif;
}

.table-view .column-header-background {
    -fx-background-color: #f1f1f1;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #f1f1f1;
    -fx-text-fill: #000000;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #f1f1f1;
    -fx-text-fill: #000000;
}

.hbox1 {
    -fx-border-color: linear-gradient(to right, yellow, orange); /* Gradient border */
    -fx-border-width: 3px; /* Thicker border */
    -fx-border-radius: 5px; /* Rounded corners */
}

.hbox2 {
    -fx-border-color: linear-gradient(to right, silver, gray); /* Gradient border */
    -fx-border-width: 3px; /* Thicker border */
    -fx-border-radius: 5px; /* Rounded corners */
}

.hbox3 {
    -fx-border-color: linear-gradient(to right, #b87333, #d4af37); /* Gradient border */
    -fx-border-width: 3px; /* Thicker border */
    -fx-border-radius: 5px; /* Rounded corners */
}

.hbox-book-recommend-user {
    -fx-border-color: linear-gradient(to right, #17376e, #1f5db9); /* Gradient border */
    -fx-background-color: #f3f6ff;
    -fx-border-width: 2px; /* Thicker border */
    -fx-border-radius: 5px; /* Rounded corners */
}

.hbox-top-borrow-book-user {
    -fx-border-color: linear-gradient(to right, #a2b9d8, #7fa6d1); /* Lighter gradient border */
    -fx-background-color: linear-gradient(to right, #f0f8ff, #d3dce6, #b8c5d9, #a1b3d0); /* Soft, light colors */
    -fx-border-width: 2px; /* Thicker border */
    -fx-border-radius: 5px; /* Rounded corners */
}


.grid-pane {
    -fx-background-color: #FFFFFF;
}


.choice-box1 {
    -fx-background-color: #ffffff;
    -fx-border-color: #17376e;
    -fx-border-radius: 4px;
    -fx-padding: 1px;
    -fx-text-fill: #000000;
    -fx-font-family: 'Poppins', sans-serif;
}

.choice-box1:hover {
    -fx-border-color: #17376e;
}

.choice-box1 {
    -fx-background-color: #ffffff;
    -fx-border-color: #17376e;
    -fx-border-radius: 4px;
    -fx-padding: 1px;
    -fx-text-fill: #000000;
    -fx-font-family: 'Poppins', sans-serif;
}

.choice-box1:hover {
    -fx-border-color: #17376e;
}

.choice-box2 {
    -fx-background-color: #ffffff;
    -fx-border-color: #b9b9b9;
    -fx-border-radius: 4px;
    -fx-padding: 1px;
    -fx-text-fill: #000000;
    -fx-font-family: 'Poppins', sans-serif;
}

.choice-box2:hover {
    -fx-border-color: #17376e;
}


/* Common styles for all status cells */
.status-common {
    -fx-padding: 5px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

/* Specific status styles */
.status-active {
    -fx-background-color: #00ff00;
    -fx-text-fill: #ffffff;
}

.status-denied {
    -fx-background-color: lightcoral;
    -fx-text-fill: white;
}

.status-canceled {
    -fx-background-color: orange;
    -fx-text-fill: #ffffff;
}

.status-overdue {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.status-completed {
    -fx-background-color: #17376e;
    -fx-text-fill: white;
}

.status-in-progress {
    -fx-background-color: yellow;
    -fx-text-fill: #000000;
}

.status-reserved {
    -fx-background-color: lightblue;
    -fx-text-fill: #ffffff;
}

